*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
scroll-behavior:smooth;
}

body{
background:url("background.jpg") no-repeat center center fixed;
background-size:cover;
color:white;
overflow-x:hidden;
}

/* HEADER */
header{
text-align:center;
padding:80px 20px;
background:rgba(0,0,0,0.6);
}

header h1{
font-size:45px;
margin-bottom:10px;
}

header p{
font-size:18px;
opacity:0.9;
}

/* NAV */
nav{
display:flex;
justify-content:center;
background:rgba(0,0,0,0.9);
padding:15px;
position:sticky;
top:0;
z-index:1000;
}

nav a{
color:white;
text-decoration:none;
margin:0 25px;
font-weight:bold;
transition:0.3s;
}

nav a:hover{
color:#00f2ff;
transform:scale(1.1);
}

/* CARD */
.card{
width:90%;
margin:60px auto;
padding:50px;
background:rgba(0,0,0,0.75);
border-radius:25px;
box-shadow:0 15px 40px rgba(0,0,0,0.7);
transition:0.4s;
}

.card:hover{
transform:scale(1.03) rotateX(3deg);
}

.card h2{
margin-bottom:25px;
color:#00f2ff;
font-size:30px;
}

.card ul{
margin-left:20px;
line-height:1.8;
}

/* MEMBER */
.member-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;
}

.member{
background:rgba(255,255,255,0.1);
padding:20px;
border-radius:15px;
text-align:center;
transition:0.4s;
}

.member:hover{
background:#00f2ff;
color:black;
transform:translateY(-10px);
}

/* VIDEO */
.video-section{
text-align:center;
background:rgba(0,0,0,0.9);
padding:70px 20px;
}

.small-video{
width:60%;
max-width:700px;
border-radius:25px;
box-shadow:0 20px 50px rgba(0,0,0,0.8);
transition:0.5s;
}

.small-video:hover{
transform:scale(1.05);
}

/* FOOTER */
footer{
text-align:center;
padding:30px;
background:black;
}

.edit{
margin-top:10px;
color:#00f2ff;
font-weight:bold;
}

/* ANIMATION */
.fade-in{
animation:fadeIn 2s ease-in-out;
}

.slide-left{
animation:slideLeft 1.5s ease-out;
}

.slide-right{
animation:slideRight 1.5s ease-out;
}

.slow-appear{
animation:slowFade 2.5s ease forwards;
opacity:0;
}

@keyframes fadeIn{
from{opacity:0;}
to{opacity:1;}
}

@keyframes slideLeft{
from{opacity:0;transform:translateX(-100px);}
to{opacity:1;transform:translateX(0);}
}

@keyframes slideRight{
from{opacity:0;transform:translateX(100px);}
to{opacity:1;transform:translateX(0);}
}

@keyframes slowFade{
0%{
opacity:0;
transform:translateY(80px) scale(0.95);
}
100%{
opacity:1;
transform:translateY(0) scale(1);
}
}